<!DOCTYPE html>
<html>

<head>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/simple-sidebar.css" rel="stylesheet">
</head>

<body>
<div id="wrapper">

    {% include '_sidebar.html' %}

    <!-- Make sure to keep all page content within the #page-content-wrapper div. -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% include '_flash.html' %}
                    <h1>Browse and sign up for your favorite events!</h1> </br>
                    <form name="sign_up" method="POST">
                        Event: <select name="select_event">
                        <option value="">Select Event</option>
                        {% for event in events %}
                            <option value="{{ event.event_id }}">
                                {{ event.event_id }}, {{ event.title }}, {{ event.description }}, {{ event.start_time }},
                                {{ event.end_time }}, {{ event.location_name }}, {{ event.zipcode }}
                            </option>
                        {% endfor %}
                    </select> </br>
                        <input type="submit" value="Sign Up"/>
                    </form>
                    </br>

                    <style type="text/css">
                        table, th, td {
                            border: 1px solid black;
                        }
                    </style>

                    <h3>Available Events</h3>

                    <table>
                        <th>Event ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Location Name</th>
                        <th>ZipCode</th>

                        {% for line in events %}
                            <tr>
                                <td>{{ line.event_id }}</td>
                                <td>{{ line.title }}</td>
                                <td>{{ line.description }}</td>
                                <td>{{ line.start_time }}</td>
                                <td>{{ line.end_time }}</td>
                                <td>{{ line.location_name }}</td>
                                <td>{{ line.zipcode }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>

</html>
