<!DOCTYPE html>
<script type="text/javascript">
    function checkEventSelected() {
        if (document.getElementById("select_event").length == 1) {
            alert("You'll need to sign up for an event before rating!");
            return false;
        }
        if (document.getElementById("select_event").selectedIndex == 0) {
            alert("Please select an event to rate.");
            return false;
        }
        return true;
    }
</script>
<html>

<head>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/simple-sidebar.css" rel="stylesheet">
</head>

<body>
<div id="wrapper">

    {% include '_sidebar.html' %}

    <!-- Make sure to keep all page content within the #page-content-wrapper div. -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% include '_flash.html' %}
                    <h1>Rate events!</h1> </br>
                    <form name="rate_events" method="POST" onsubmit="return checkEventSelected()">
                        Event: <select id ="select_event" name="select_event">
                        <option value="">Select Event</option>
                        {% for event in events %}
                            <option value="{{ event.event_id }}">
                                {{ event.title }}, {{ event.description }}, {{ event.start_time }},
                                {{ event.end_time }}, {{ event.location_name }}, {{ event.zipcode }}
                            </option>
                        {% endfor %}
                    </select> </br>
                        Rating: <select name="select_rating">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select> </br>
                        <input type="submit" value="Rate"/>
                    </form>

                    <style type="text/css">
                        table, th, td {
                            border: 1px solid black;
                        }
                    </style>

                    <h3>Average Ratings In the Past 3 Days</h3>

                    <table>
                        <th>EventID</th>
                        <th>Event Name</th>
                        <th>Rating</th>

                        {% for line in ratings %}
                            <tr>
                                <td>{{ line.event_id }}</td>
                                <td>{{ line.title }}</td>
                                <td>{{ line.average_rating }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>

</html>
